.img-style {
       width: 300px;  /* Устанавливаем фиксированную ширину */
       height: 200px; /* Устанавливаем фиксированную высоту */
       object-fit: cover; /* Сохраняем соотношение сторон при обрезке */
   }



