{% load custom_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'finance/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'finance/css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

<header class="header">
    <div class="container">
        <h1 class="logo">{{ title }}</h1>
        <nav class="nav">
            <ul>
                <li> {{ user.username }} </li>
                <li><a href="{% url 'profile' %}"> Профиль</a></li>
                <li><a href="{% url 'logout' %}"> Выйти из аккаунта </a></li>
            </ul>
        </nav>
    </div>
</header>


    <h1><a class="btn btn-primary" href="{% url 'object_create' %}"> Создать Цель </a></h1>

    <form method="get" action="{% url 'object' %}" class="create-object-form">
    <button type="submit" name="sort" value="asc" class="btn btn-primary">По возрастанию стоимости</button>
    <button type="submit" name="sort" value="desc" class="btn btn-primary">По убыванию стоимости</button>
    {% for f in filter.form %}
        <p class="form-group"><label class="form-control" for="{{ f.id_for_label }}">{{f.label}}:</label>{{ f }}</p>
        {% if errors %}
        <div class="form-error">{{ f.errors }}</div>
        {% endif %}
    {% endfor %}
            <button class="btn btn-primary" type="submit"> Найти </button>
        </form>

    <h2>Ваши цели</h2>
    <h2> Сумма целей составляет: {{ all_sum|total_sum }} руб.</h2>

    <div class="grid">
    {% for item in serializer %}
        <div class="item">
            <div>Цель: {{ item.object }}</div>
            <div>Стоимость: {{ item.obj_money }} руб.</div>
            <div>Дата создания: {{ item.time_create|date }}</div>
            <div>
                <a href="{% url 'object_update' item.slug %}">Изменить</a> |
                <a href="{% url 'object_remove' item.slug %}">Удалить</a>
            </div>
        </div>
    {% empty %}
        <h2>Нет целей для отображения.</h2>
    {% endfor %}
    </div>






</body>
</html>