{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h2>{{ user.username }} | <a href="{% url 'profile' %}"> Профиль </a></h2>

    <h1> {{ detail }}</h1>

    <h2>Ваши цели</h2>
    <ul>
        {% for item in serializer %}
            <li>
                <div> Цель: {{ item.object }} | Стоимость: {{ item.obj_money|multiply_by_two }} руб.</div>
                <div><a href="{% url 'object_update' item.slug %}"> Изменить</a> | <a href="{% url 'object_remove' item.id %}"> Удалить</a></div>
            </li>
        {% empty %}
            <li>Нет целей для отображения.</li>
        {% endfor %}
    </ul>


    <h1><a class="btn btn-primary" href="{% url 'object_create' %}"> Создать Цель </a></h1>




</body>
</html>